.Weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    }
    .search-bar{
    display: flex;
    align-items: center;
    gap: 12px;cursor: pointer;

    }
    
     .search-bar input{
        height: 50px;
        border: none;
        outline: none;
        border-radius: 40px;
        padding-left: 25px;
        color:#626262;
        background: #ebfffc;
        font-size: 18px;
        }
        .search-bar img{
            height: 30px;
            background-color: #ebfffc;
            border-radius: 50px;
            padding: 5px;
            cursor: pointer;

        }
        #icon{
            margin-top: 10px;
            height: 200px;
            width: 200px;
            position: relative;
            right:25px;
        }
        .weather-icon{
            width: 150px;
            margin: 30px 0;
            }
            .temperature{
            color: #fff;
            font-size: 80px;
            line-height: 1;
            margin-top: 30px;
            } 
            .location{
                color: #fff;
                font-size: 40px;
                line-height: 1;
                } 
           .data{
            width: 100%;
            margin-top: 40px;
            color: #fff;
            display: flex;
            justify-content: space-between;
                }
            .data .col{
            display: flex;
            align-items: flex-start;
            gap: 12px;
            font-size: 22px;
            }
            #icon1{
             height: 50px;
             width: 50px;
            }